<launch>
  <arg name="urdf_file" default="$(find ur10_with_gripper)/urdf/ur10_with_gripper.urdf.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro '$(arg urdf_file)'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
</launch>
